* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: black;
  color: aliceblue;
  justify-content: space-between;
  font-family: "Stint Ultra Expanded", "Padyakke Expanded One", sans-serif;
  font-size: 16px;
  font-family: "Montserrat", "Poppins", sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100vh;
}

#create-playlist {
  text-align: start;
}
.container-main {
  margin-top: 10px;
  padding: 0 8px 10px 8px;
  width: 300px;
  height: 420px;
  align-items: center;
  justify-content: center;
  border: 1px solid chartreuse;
  background-color: black;
  border-radius: 5px;
}

h3 {
  margin-top: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.single {
  justify-content: center;
  width: 100%;
  height: 300px;
}

#album-cover {
  width: 80%;
  border-radius: 5px;
  margin: 25px 25px 25px 25px;
  text-align: center;
}

#track-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 80%;
  margin: 0px 0 10px 28px;
  font-size: 12px;
}

.audio-player {
  width: 100%;
  margin: 45px 0 10px 0;
  padding: 0;
}

.time {
  font-size: 12px;
  margin: 20px 0 5px 0;
  color: aliceblue;
  font-weight: 300;
}

.seekbar-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  width: 100%;
  height: 4px;
  border-radius: 50px;
  background-color: darkslategray;
  position: relative;
}

.seekbar-inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 4px;
  background-color: chartreuse;
}

#audio-player-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0 10px 0;
  color: chartreuse;
  cursor: pointer;
}

ul {
  padding: 0;
  margin-top: 5px;
}

li {
  margin-top: 10px;
  list-style-type: none;
  font-size: 12px;

  display: flex;
  align-items: center;
  padding: 4px;
  position: relative;
  margin-bottom: 5px;
  border-radius: 5px;
}

#song-name {
  margin-top: 0px;
  list-style-type: none;
  font-size: 14px;
}

#artist-name,
#album-name {
  margin-top: 0px;
  list-style-type: none;
  font-size: 10px;
}

.active {
  border: 1px solid chartreuse;
  width: 300px;
  padding: 0 15px 0 15px;
}

#track-info-queue {
  padding-left: 10px;
  width: 80%;
  margin: 15px 0 10px 28px;
  font-size: 12px;
}

#album-cover-queue {
  width: 80px;
  border-radius: 10px;
}

.track-active {
  display: flex;
}

audio {
  background: black;
  border-radius: 5px;
  color: chartreuse;
}

#search-button,
#create-button,
#add-button {
  margin-top: 10px;
  padding: 3px 5px;
  background-color: chartreuse;
  border: none;
  border-radius: 5px;
}

input {
  background-color: darkslategray;
  color: aliceblue;
  border: 1px solid chartreuse;
}
