*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #000000;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-weight: bold;
  color: #C2F102;
  font-family: "Stint Ultra Expanded", "Padyakke Expanded One", sans-serif;
  font-family: "Montserrat", "Poppins", sans-serif;
  /* font-size: 16px; */
}
.navbar{
  background-color: #000000;
}
html{
  overflow: hidden;
}
header{
  background-color: aliceblue;
}
.app-name{
  color: #C2F102;
  font-size: 9rem;
  font-family: 'Courier Prime', monospace;
  margin-top: 30px;
  transform: scale(1.5, 2);
        -webkit-transform: scale(1.5, 2);
        -moz-transform: scale(1.5, 2);
        -o-transform: scale(1.5, 2);
}
.rider-con{
  position: absolute;
  bottom: 0px;
}
.nav-logo{
  color: #C2F102;
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Courier Prime', monospace;
}
.rider{
    height: 40vw;
  width: 90vw;
  opacity: 0.7;
}
.router-btn{
  color: #C2F102;
}
.navbar .midnav {
  text-align: center;
  display: block;
  width: 90%;
}
.hide{
  visibility: hidden;
}
.navbar .midnav > .navbar-item,
.navbar .midnav .navbar-link {
  display: inline-block;
}
.midpage{
  height: 95vh;

}
.bordermenu{
  border-right: solid 2px #C2F102;
}
i{
  color: #C2F102;
}
.weather{
  background-image: url(../images/weather_placeholder.jpg);
  background-size: contain;
  background-repeat: y-repeat;
}
.menulink{
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.deezer{
  background-image: url(../images/deezer_placeholder.png);
  background-size: contain;
  background-repeat: y-repeat;
}

hr{
  height: 2px;
  background-color: #C2F102;
}

.weather,.deezer,.misc{
  cursor: pointer;
  position: relative;
}
.weather>a ,.deezer>a ,.misc>a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.api-display{
  background-image: url(../images/map_placeholder.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.txt{
  color: #C2F102;
}
.form-data{
  border: solid 1px #C2F102;
  background-color: #000000;
  color: #ffffff;
}
.form-data:hover{
  border:solid 2px #C2F102;
}
.button{
  background-color: #C2F102;
  border: none;
}
.button:hover{
  background-color: #000000;
  border: solid 2px #C2F102;
  color: #C2F102;
}

.fa-bars{
  font-size: 2rem;
}
/* ::placeholder{
  color: #C2F102;
  opacity: 1;
}

:-ms-input-placeholder{
  color: #C2F102;
  opacity: 1;
}

:-moz-placeholder{
color: #C2F102;
  opacity: 1;
}

::-moz-placeholder{
  color: #C2F102;
  opacity: 1;
} */


  #my-map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }

/* audio player */
  .container-main {
/*   margin-top: 10px; */
  padding: 0 8px 10px 8px; 
  width: 16vw;
  height: 40vw;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: black;
  border-radius: 5px;
}

.single {
  justify-content: center;
  width: 100%;
  height: 300px;
}

#album-cover {
  width: 80%;
  border-radius: 5px;
  margin: 25px 25px 25px 25px;
  text-align: center;
}

#track-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 80%;
  margin: 0px 0 10px 28px;
  font-size: 12px;
}

.audio-player {
  width: 100%;
  margin: 45px 0 10px 0;
  padding: 0;
}

.time {
  font-size: 12px;
  margin: 20px 0 5px 0;
  color: aliceblue;
  font-weight: 300;
}

.seekbar-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  width: 100%;
  height: 4px;
  border-radius: 50px;
  background-color: darkslategray;
  position: relative;
}

.seekbar-inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 4px;
  background-color: chartreuse;
}

#audio-player-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0 10px 0;
  color: chartreuse;
  cursor: pointer;
}

ul {
  padding: 0;
  margin-top: 5px;
}

#song-name {
  margin-top: 0px;
  list-style-type: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 4px;
  position: relative;
  margin-bottom: 5px;
  border-radius: 5px;
}

#artist-name {
  margin-top: 0px;
  list-style-type: none;
  font-size: 10px;
  display: flex;
  align-items: center;
  padding: 4px;
  position: relative;
  margin-bottom: 5px;
  border-radius: 5px;
}

.active {
  border: 1px solid chartreuse;
  width: 300px;
  padding: 0 15px 0 15px;
}

#track-info-queue {
  padding-left: 10px;
  width: 80%;
  margin: 15px 0 10px 28px;
  font-size: 12px;
}

#album-cover-queue {
  width: 80px;
  border-radius: 10px;
}

.track-active {
  display: flex;
}

audio {
  background: black;
  border-radius: 5px;
  color: chartreuse;
}

/* #search-button,
#create-button,
#add-button {
  margin-top: 10px;
  padding: 3px 5px;
  background-color: chartreuse;
  border: none;
  border-radius: 5px;
} */

/* input {
  background-color: darkslategray;
  color: aliceblue;
  border: 1px solid chartreuse;
} */

